<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Text Analyser- About</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Text Analyser</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact us</a>
            </li>
          </ul>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="alert alert-warning" role="alert">
      Now you are on text analyser- about page
    </div>

    <div class="container">
      <h1>About us</h1>
    <p>
      Text Analyser is your go-to companion for making sense of written content. Whether you're a student refining an assignment, a writer polishing an article, or a professional working on reports, our tool helps you dig deeper into your text. With features like word and character counts, sentence breakdowns, keyword density, readability scores, and more, you get a complete overview of your writing at a glance. Designed to be fast, accurate, and user-friendly, Text Analyser empowers you to write smarter, edit faster, and communicate more effectively.
    </p>
    <p>
      Whether you're analyzing a short paragraph or an entire document, Text Analyser adapts to your needs with precision and ease. There's no steep learning curve—just paste your text and let the insights roll in. Our goal is to make text analysis accessible for everyone, from casual users to seasoned professionals. With a clean interface and reliable performance, Text Analyser helps you focus on what matters most: the quality and clarity of your content.
    </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

  </body>
</html>